{% extends "base_login.html" %}
{% block content %}
		<h2>Use Deposit</h2>
		<form id="pay_friend" name="pay_friend" method="post" action="/pay/friend">
		<table>
				<tr>
					<td>Friend's Email:</td>
					<td><input type="text" name="email"/></td>
				</tr>
				<tr>
					<td>Amount to pay:</td>
					<td><input type="text" name="amount"/></td>
				</tr>
				<tr>
					<td>Description:</td>
					<td><input type="text" name="description"/></td>
				</tr>
				<tr>
					<td><input type="submit" id="submitPayFriend" name="submit" value="Use It!"/></td>
					<td> </td>
				</tr>
		</table>
		</form>
{% endblock %}