{% extends "base_login.html" %}
{% block content %}
		<h1>List of Transactions Entries.</h1>
		<table id="list-view">
			<thead>
				<tr>
					<td><b></td>
					<td><b>Amount</b></td>
					<td><b>Payee</b></td>
					<td><b>Payer</b></td>
					<td><b>Description</b></td>
					<td><b>Transaction Time</b></td>
				</tr>
			</thead>
			{% if transactions_entries %}
			<tbody>
			{% for entry in transactions_entries %}
				<tr>
					<td>{{ loop.index }}</td>
					<td>{{ entry.amount }}</td>
					<td>{{ entry.payee }}</td>
					<td>{{ entry.payer }}</td>
					<td>{{ entry.description }}</td>
					<td>{{ entry.transaction_time }}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
			{% else %}
		</table>
		<p>You have no transactions</p>
			{% endif %}
{% endblock %}
