{% extends "base.html" %}
{% block content %}
		<h1>Edit User Entries.</h1>
		<form name="user_add" method="post" action="/user/update/{{ user_item.user_id }}">
		<table>
				<tr>
					<td>Email:</td>
					<td><input type="text" name="email" value="{{ user_item.email }}"/></td>
				</tr>
				<tr>
					<td>Firstname:</td>
					<td><input type="text" name="firstname" value="{{ user_item.firstname }}"/></td>
				</tr>
				<tr>
					<td>Lastname:</td>
					<td><input type="text" name="lastname" value="{{ user_item.lastname }}"/></td>
				</tr>
				<tr>
					<td>Join_Date:</td>
					<td><input type="text" name="join_date" value="{{ user_item.join_date }}"/></td>
				</tr>
				<tr>
					<td><input type="submit" name="submit" value="Edit Entry"/></td>
					<td> </td>
				</tr>
		</table>
		</form>
{% endblock %}