{% extends "base_login.html" %}
{% block content %}
		<h2>User Profile</h2>
		<table>
				<tr>
					<td>Email</td>
					<td>: {{ user.email }}</td>
				</tr>
				<tr>
					<td>First name</td>
					<td>: {{ user.firstname }}</td>
				</tr>
				<tr>
					<td>Last name</td>
					<td>: {{ user.lastname }}</td>
				</tr>
				<tr>
					<td>Lunchbox since</td>
					<td>: {{ user.join_date }}</td>
				</tr>
		</table>
		<br/><a id="actions" href="/user/edit/{{user.user_id}}">Edit Profile</a>
{% endblock %}